body{
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-903ea3cb.jpg");
    
    background-repeat: repeat;
    background-size: 2560px 1080px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
@media screen and ( min-width: 1200px ){
  img.responsive { width: 300px; }
  img.responsive { height: 300px; }
}
@media screen and ( max-width: 1200px ){
  img.responsive { width: 300px; }
  img.responsive { height: 300px; }
}
@media screen and ( max-width: 992px){
  img.responsive { width: 250px; }
  img.responsive { height: 250px; }
}
@media screen and ( max-width: 768px ){
  img.responsive { width: 225px; }
  img.responsive { height: 225px; }
}
@media screen and ( max-width: 400px ){
  img.responsive { width: 200px; }
  img.responsive { height: 200px; }
}
