body{
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-903ea3cb.jpg");
    
    background-repeat: no-repeat;
    background-color: #cccccc;
}

#sticky-footer {
  flex-shrink: 0;
}

